body {
    .post-list{
        .mui-table-format{
            tbody{
                tr{
                  &:hover{
                    background: #eff0f5 !important;
                  }
                  &:nth-child(odd){
                    background: #fff;
                  }
                  &:nth-child(even){
                    background: #E6EBFB;
                  }
                  &.Mui-selected{
                    background: rgba(245, 0, 87, 0.08);
                  }
                  td{
                    word-break: break-word;
                    padding: 5px 10px;
                  }
                }
              }
              thead {
                th{
                    background: #98a1cc !important;   
                }
              }
        }
    }
    }