body {
    .post-list{
        .mui-table-format{
            tbody{
                tr{
                  &:hover{
                    background: #eff0f5 !important;
                  }
                  &:nth-child(odd){
                    background: #fff;
                  }
                  &:nth-child(even){
                    background: #E6EBFB;
                  }
                  &.Mui-selected{
                    background: rgba(245, 0, 87, 0.08);
                  }
                  td{
                    word-break: break-word;
                    padding: 5px 10px;
                  }
                }
              }
              thead {
                th{
                    background: #98a1cc !important;   
                }
              }
        }
    }
    .page-loader {
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 9999;
      background: rgba(0, 0, 0, 0.1);
      overflow: hidden;
      cursor: not-allowed;
      span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        img {
          width: 100px;
        }
      }
    }
    .nfts-card {
      background-image: url('https://i.gifer.com/7D7o.gif'); 
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      color: white;
    }
    .post-card{
      background-image: url('https://i.gifer.com/JZqf.gif'); 
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      color: #37179a;
    }
    
    }